.cards {
  display: flex;
  align-items: center;
  padding: 20px;




}

.card-name {
  padding-left: 10px;
  min-width: 100px;
  border-radius: 1px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  border-top: 1px solid rgba(0,0,0,0.4);




}
.card-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
  padding-bottom: 10px;


}
.card-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
  border-top: 1px solid rgba(0,0,0,0.4);
  padding-top: 10px;



}

.fetch {
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  position: fixed;
    top: 50px;
    right: 100px;


}
.fetch:hover {
  opacity: 1;
  text-decoration: none;
  color: #000000;
}
